{% include "useradmin/nav.html" %}
{% load static %}
{% load humanize %}
{{form.media}}
            <section class="content-main">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-9">
                            <div class="content-header">
                                <h2 class="content-title">Add New Product</h2>
                                <div>
                                    <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button>
                                    <button class="btn btn-md rounded font-sm hover-up">Publish</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <h4>Basic</h4>
                                </div>
                                <div class="card-body">

                                    {% if form.errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{form.errors}}</strong>
                                        </div>
                                    {% endif %}

                                        <div class="mb-4">
                                            <label for="product_name" class="form-label">Product title</label>
                                            {% comment %} <input type="text" placeholder="Type here" class="form-control" id="product_name" /> {% endcomment %}
                                            {{form.title}}
                                        </div>
                                        <div class="mb-4">
                                            <label class="form-label">Full description</label>
                                            {% comment %} <textarea placeholder="Type here" class="form-control" rows="4"></textarea> {% endcomment %}
                                            {{form.description}}
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="mb-4">
                                                    <label class="form-label">Selling price</label>
                                                    <div class="row gx-2">
                                                        {% comment %} <input placeholder="$" type="text" class="form-control" /> {% endcomment %}
                                                        {{form.price}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-4">
                                                    <label class="form-label">Old price</label>
                                                    {% comment %} <input placeholder="$" type="text" class="form-control" /> {% endcomment %}
                                                    {{form.old_price}}
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <label class="form-label">Currency</label>
                                                <select class="form-select">
                                                    <option>USD</option>
                                                    <option>EUR</option>
                                                    <option>RUBL</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="mb-7">
                                                    <label class="form-label">Type</label>
                                                    {{form.type}}
                                                </div>                                    
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-7">
                                                    <label class="form-label">Stock</label>
                                                    {{form.stock_count}}
                                                </div>                                    
                                            </div>
                                        </div><br>

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="mb-4">
                                                    <label class="form-label">Expiry</label>
                                                    {{form.expiry}}
                                                </div>                                    
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-4">
                                                    <label class="form-label">Manufactuer</label>
                                                    {{form.mfd}}
                                                </div>                                    
                                            </div>
                                        </div>
                                        <div class="mb-4">
                                            <label class="form-label">Tags</label>
                                            {{form.tags}}
                                        </div>

                                        <div class="mb-4">
                                            <label class="form-label">Digital Product</label>
                                            <br>
                                            {{form.digital}}
                                            <small class="text-muted ms-2">Check if only this is a Digital Product</small>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- card end// -->

                        </div>
                        <div class="col-lg-3">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <h4>Media</h4>
                                </div>
                                <div class="card-body">
                                    <div class="input-upload">
                                        <img src="{% static 'asset/imgs/theme/upload.svg' %}" alt="" />
                                        {% comment %} <input class="form-control" type="file" /> {% endcomment %}
                                        {{form.image}}
                                    </div>
                                </div>
                            </div>
                            <!-- card end// -->
                            <div class="card mb-4">
                                <div class="card-header">
                                    <h4>Others</h4>
                                </div>
                                <div class="card-body">
                                    <div class="row gx-2">
                                        <div class="col-sm-6 mb-3">
                                            <label class="form-label">Category</label>
                                            {{form.category}}
                                        </div>
                                    </div>
                                    <!-- row.// -->
                                </div>
                            </div>
                            <!-- card end// -->
                            <button class="btn mt-3 btn-md rounded font-sm hover-up">Create Product</button>
                        </div>
                    </div>
                </form>
            </section>
{% include 'useradmin/footer.html' %}
